---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
// import Countdown from '../components/Countdown.astro'
import Countdown from '../components/Countdown.jsx'
---

<Layout title="Bienvenido a la cuenta atrás para tu cumpleaños">
	<main>
		<Header />
            <Countdown client:load/>
	</main>
</Layout>
