---

---

<div class="mt-40">
  <hr style="width: 90%" class="border-1 border-gray-500 w-85 mx-auto my-2" />
  <footer
    class="flex flex-row justify-center items-center text-center text-gray-500 py-3 px-10 mx-auto max-w-xl lg:py-16 lg:px-6"
  >
    <span>
      &copy; {new Date().getFullYear()} Hecho por Carolina Rodríguez
    </span>
    <span> Todos los derechos reservados </span>
    <ul class="flex flex-row gap-4 ml-4 lg:ml-auto">
      <li>
        <a href="https://github.com/Estivbi" class="hover:underline">GitHub</a>
      </li>
      <li>
        <a
          href="https://linkedin.com/in/carolina-rodriguez-barcena"
          class="hover:underline">LinkedIn</a
        >
      </li>
    </ul>
  </footer>
</div>
