---
console.log("javascript");
---

<header class="py-4 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-4 lg:mb-8">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Cuenta atr치s
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark_text-gray-400">
      Cuando acabe la cuenta atr치s se mostrar치 tu regalo de cumplea침os.
    </p>
  </div>
</header>

<!-- esto puede ser un boton mas adelante pienso si agregarlo 
<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
<a class="text-white" href="">Acerca de</a> 
</nav> -->
